<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Distribución Responsive</title>
    <link rel="stylesheet" href="../assets/css/ipru2.css">
    <script src="https://kit.fontawesome.com/2f4b44270f.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="menu">
        <div class="containerme">
            <div class="cardme">
                <a class="fa-solid fa-user-gear fa-xl" style="color: #ffffff;" href="/consola.html"></a>
            </div>
            <div class="cardme">
                <a class="fa-solid fa-house fa-xl" style="color: #ffffff;" href="/index.html"></a>

            </div>
            <div class="cardme">
                <a class="fa-solid fa-right-from-bracket fa-xl" style="color: #ffffff;" href="/accesorios.html"></a>

            </div>
        </div>
    </header>

    <section>
        <div class="container">
            <div class="card">
                <a class="fa-solid fa-gamepad fa-xl" style="color: #ffffff;" href="/agregarConsolas.html"></a>
                <p>Consolas</p>
            </div>
            <div class="card">
                <a class="fa-brands fa-playstation fa-xl" style="color: #ffffff;" href="/agregarJuegos.html"></a>
                <p>Juegos</p>
            </div>
            <div class="card">
                <a class="fa-solid fa-headset fa-xl" style="color: #ffffff;" href="/agregarAccesorios.html"></a>
                <p> Accesorios</p>
            </div>
        </div>
    </section>
</body>

</html>