<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Distribución Responsive</title>
    <link rel="stylesheet" href="../assets/css/ipru.css">
    <script src="https://kit.fontawesome.com/2f4b44270f.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="menu">
        <div class="containerme">
            <div class="cardme">
                <a class="fa-solid fa-user-gear fa-xl" style="color: #ffffff;" href="/user.html"></a>
            </div>
            <div class="cardme">
                <a class="fa-solid fa-house fa-xl" style="color: #ffffff;" href="/index.html"></a>

            </div>
            <div class="cardme">
                <a class="fa-solid fa-right-from-bracket fa-xl" style="color: #ffffff;" href=""></a>

            </div>
        </div>
    </header>

    <section>
        <div class="container">
            <div class="card">
                <a class="fa-solid fa-gamepad fa-xl" style="color: #ffffff;" href="/consola.html"></a>
                <p>Consolas</p>
            </div>
            <div class="card">
                <a class="fa-brands fa-playstation fa-xl" style="color: #ffffff;" href="/juegos.html"></a>
                <p>Juegos</p>
            </div>
            <div class="card">
                <a class="fa-solid fa-headset fa-xl" style="color: #ffffff;" href="/accesorios.html"></a>
                <p> Accesorios</p>
            </div>
            <div class="card">
                <a class="fa-solid fa-bell-concierge fa-xl" style="color: #ffffff;" href="/servicios.html"></a>
                <p>Servicios</p>
            </div>
            <div class="card">
                <a class="fa-solid fa-clipboard-user fa-xl" style="color: #ffffff;" href="/perfil.html"></a>
                <p>Perfil</p>
            </div>
            <div class="card">
                <a class="fa-solid fa-comments-dollar" style="color: #ffffff" href="/tipodecambio.html"></a>
                <p>Tipo de Cambio</p>
            </div>
            <div class="card">
                <a class="fa-solid fa-cart-shopping fa-xl" style="color: #ffffff;" href="/carrito.html"></a>
                <p>Carrito</p>
            </div>

        </div>
    </section>
    <script>
        // Comprobar si el onboarding ya ha sido completado
        if (!localStorage.getItem('onboardingCompleted')) {
            // Si no se ha completado, redirigir a la página de onboarding
            window.location.href = '/onboarding.html'; // Asegúrate de que la URL de onboarding esté correcta
        }
    </script>

</body>

</html>