<head>
    <link rel="stylesheet" href="../assets/css/ipru.css">
    <script src="https://kit.fontawesome.com/2f4b44270f.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="menu">
        <div class="containerme">
            <div class="cardme">
                <a class="fa-solid fa-user-gear fa-xl" style="color: #ffffff;" href="../view/consola.html"></a>
            </div>
            <div class="cardme">
                <a class="fa-solid fa-house fa-xl" style="color: #ffffff;" href="../view/index.html"></a>

            </div>
            <div class="cardme">
                <a class="fa-solid fa-right-from-bracket fa-xl" style="color: #ffffff;"
                    href="../view/accesorios.html"></a>

            </div>
        </div>
    </header>
</body>