<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../assets/css/login.css" rel="stylesheet">
    <title>Verificar Token</title>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <form id="tokenForm" method="post" action="/verificar-token">
                        <div class="form-group">
                            <input type="text" class="form-control" name="token" placeholder="Ingrese su token"
                                required>
                        </div>
                        <button type="submit" class="btn btn-dark">Verificar Token</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


</body>

</html>